.details-container {
	padding: 0 2em 2em;
	min-height: 500px;

	@media (max-width: 425px){
		padding: 0;
	}
}

.detail-header {
	@media (max-width: 425px){
		padding-left: 1em;
	}
}

.categories-container {
	background-color: #f2f2f2;
	padding: .25em 2em 2em;
	margin-bottom: 2em;
}

.gender-img {
	width: 95px;
	height: 95px;
	-webkit-border-radius: 50%;
	background-color: white;
	border-radius: 50%;
	border: solid 3px #4d4d4d;	
}

.category-list:after {
	content: ', ';
}

.category-list:last-child:after {
	content: none;
}

.bar span {
	display: block;
	height: 1em;
}

.bar-20 {
	background-color: #7300e6;
}

.bar-40 {
	background-color: #0000e6;
}

.bar-60 {
	background-color: #00ace6;
}

.bar-80 {
	background-color: #00e639;
}

.bar-100 {
	background-color: #e6e600;
}

.bar-120 {
	background-color: #e6ac00;
}

.bar-140 {
	background-color: #e67300;
}

.bar-160 {
	background-color: #e60000;
}


.category {
	display: inline-block;
	margin-right: 2em;
	vertical-align: top;
}

.gender-container {
	display: inline-block;
	text-align: center;
	margin-right: 1em;
}

.stats {
	max-width: 400px;
}

.gender {
	text-align: center;
}

.varieties {
	display: block; 
	margin-right: 1em;
}

