@font-face {
	font-family: 'fat-filled';
	src: url('../fonts/FATASSFI.TTF');
}

@font-face {
	font-family: 'fat-open';
	src: url('../fonts/FATASSOU.TTF');
}

@font-face {
	font-family: 'coffee';
	src: url('../fonts/Coffee At Midnight Demo.ttf');
}

@font-face {
	font-family: 'joy';
	src: url('../fonts/Joy_For_Fun.otf');
}

h1 {
	font-family: 'joy';
}