footer {
  font-family: 'coffee';
  font-size: 1.5em;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 1em;

  a:link, a:visited, a:active {
    color: #ffff99;
    text-decoration: none;
  }

  a:hover {
    color: #ff9999;
    text-decoration: none;
  }

}

.copyright {
  float: right;
  margin-right: 2em;
}

.follow {
  margin-left: 2em;
  a {
    margin-left: .75em;
  }
}

@media (max-width: 830px){
    .copyright {
      float: none;
      margin-right: 0;
    }

    footer {
      text-align: center
    }

    .follow {
      margin-left: 0;
    }
}