.yellow {
	background-color: #ECCD42;
}

.orange {
	background-color: #ECA742;
	margin-left: 5em;
}

.purple {
	background-color: #9383D0;
	margin-left: 10em;
}

sprite {
	display: block;
	max-width: 300px;
	padding: 8px;
	margin-bottom: 1em;
}

.sprite-label {
	font-family: 'joy';
	font-size: 1.5em;
}