<div class="names-container thumbnail">
	<h1>Search By Name</h1>
	<div class="input-group search" ng-show="loaded">
		<span class="input-group-addon" id="basic-addon1">Filter</span>
		<input type="text" class="form-control" placeholder="Enter a search term..." aria-describedby="basic-addon1" ng-model="search" autofocus>
	</div>
	<a class="name" ng-repeat="name in names | filter:search | orderBy:name" href="#/pokemon/{{name}}">
		{{name | titlecase}}
	</a>
	<div class="loading" ng-hide="loaded">
		<i class="fa fa-refresh fa-spin spinner"></i> Catching Pok&#233;mon...
	</div>
</div>