<div class='details-container panel panel-default'>
	<h1>{{name | titlecase}}</h1>
	<div class='evolution-container'>
		<div ng-if='evolution' class='evolution-origin'>
			<sprite class='yellow' name='evolution.chain.species.name'></sprite>
			<div ng-repeat='step1 in evolution.chain.evolves_to'>
				<sprite class='orange' name='step1.species.name'></sprite>
				<div ng-repeat='step2 in step1.evolves_to'>
					<sprite class='purple' name='step2.species.name'></sprite>
				</div>
			</div>
		</div>
		
	</div>
</div>